<div class="container">
  <div class="img-div text-center">
    <%= image_tag "Larger_halfway_logo.svg", class: "larger-logo" %>
    <%= image_tag "Halfway_logo_medium.svg", class: "smaller-logo" %>
  </div>

  <div class="mobile-positioning-home">
    <div class="heading-div">
      <h1>Enter your addresses to meet halfway!</h1>
    </div>

    <div class="form-div d-flex justify-content-center">
      <div>
        <%= simple_form_for :venues, url: venues_path, method: :get do |f| %>
        <%= f.input :address1,
          placeholder: "Address 1", label: false,
          input_html: { data: { geocoder_target: "address" }, class: "d-none" },
          wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: 'pk.eyJ1IjoiamltbWVoeXVlbiIsImEiOiJjbDVta252NDcwdW00M2RxcmE4OW01OXZlIn0.XYmvW9pAaOKljHeqCDXnKA' } }
        %>

        <%= f.input :address2,
            placeholder: "Address 2", label: false,
          input_html: { data: { geocoder_target: "address" }, class: "d-none" },
          wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: 'pk.eyJ1IjoiamltbWVoeXVlbiIsImEiOiJjbDVta252NDcwdW00M2RxcmE4OW01OXZlIn0.XYmvW9pAaOKljHeqCDXnKA' } }
        %>



        <div class= "halfway-button">
         <%= f.button :submit, "Meet Halfway!", class: "btn" %>
        </div>
      </div>




      <% end %>
    </div>
    </div>
  </div>



</div>
</div>
